@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ">
@if(SignInManager.IsSignedIn(User))
{
        <li class="nav-item style_nav_item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Birthday Cakes</a>
        </li>

        <li class="nav-item style_nav_item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Cup Cakes</a>
        </li>
        <li class="nav-item style_nav_item" style="margin-right:150px;">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Baked Items</a>
        </li>
        
        @if (User.IsInRole("admin"))
        {
            <li class="nav-item style_nav_item" style="margin-right:0px;margin-top:5px;padding-top:5px;font-family: 'Open Sans', sans-serif;">Admin</li>
            <li class="nav-item style_nav_item" style="margin-right:0px;margin-left:20px">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index" title="Manage">
                    <span class="material-icons" style="font-size:35px;padding:0px;padding-top:5px;">
                        account_circle
                    </span>
                </a>
            </li>
        }
        else{
            <li class="nav-item style_nav_item" style="margin-right:0px;">
                <a class="nav-link text-dark" asp-controller="Product" asp-action="Cart" title="Manage">
                    <span class="material-icons" style="font-size:35px;padding:0px;padding-top:5px;">
                        shopping_cart
                    </span>
                </a>
            </li>
            <li class="nav-item style_nav_item" style="margin-right:0px;margin-left:20px">
                <a class="nav-link text-dark" asp-controller="User" asp-action="Index" title="Manage">
                <span class="material-icons" style="font-size:35px;padding:0px;padding-top:5px;">
                    account_circle
                </span>
            </a>
            </li>
        }
}
else
{
        <li class="nav-item " style="font-family: 'Caveat', cursive;
    font-size: 30px;">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
