
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&display=swap');
html {
  font-size: 14px;

}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1500px !important;
    }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --light-peach: #ffe5ed;
    --dark-peach: #ffc6d7;
    --very-light-peach: #fff2f6;
}
nav {
    padding: 1px !important;
    background-color: var(--light-peach) !important;
    border-bottom: 3px var(--dark-peach) solid !important;
}
.style_nav_item {
    
    font-family: 'Caveat', cursive;
    font-size: 25px;
    margin:0px 50px;
    height:50px;
}
a{
    text-decoration:none !important;
    color:black;
}
a:hover{
    text-decoration:none;
    color:black
}
.form-control {
    border: 1px var(--dark-peach) solid;
    border-radius:73px;
    margin: 8px 0px;
}

.form-control:focus {
        border-color: var(--dark-peach);
        box-shadow: 0 0 0 0.10rem var(--dark-peach);
        background-color: white;
        margin: 8px 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    background-color: white !important;
}
.dark-button {
    border: 2px var(--dark-peach) solid;
    background-color: var(--light-peach);
    border-radius: 73px;
    margin: 8px 0px;
    width:50px;
    font-weight:bold;
}
.light-button {
    border: 2px var(--dark-peach) solid;
    background-color:white;
    border-radius: 73px;
    margin: 8px 0px;
    width:100px;
    font-weight:bold;
}

hr {
    background-color: var(--dark-peach);
    border: 1px var(--dark-peach) solid;
}
.side-bar {
    padding-top: 20px;

    background-color: var(--light-peach);
    height: 100vh;
    border-color: var(--dark-peach);
    box-shadow: 0 0 0 0.10rem var(--dark-peach);

}

.main-content {
    max-height: 510px;
    overflow-y: auto;
    margin-top:25px;
}

.side-bar-items {
    font-weight: bold;
    border: 2px var(--dark-peach) solid;
    /*border-color: var(--dark-peach);
            box-shadow: 0 0 0 0.10rem var(--dark-peach);*/
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px 0px;
    margin-left: 40px;
    width: 200px
}

.active-side-bar-items {
    background-color: var(--light-peach);
}